.background {
    background-color: #f4eeee;
    background: linear-gradient(165deg, transparent 56%, #C63527 44%);
    bottom: 0;
    content: '';
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;

    align-self: stretch;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.container {
    max-width: 100% !important;
}

.center-header {
    text-align: center;
    text-decoration: underline;
}

.mat-table {
    width: 100%;
}
