#navContainer {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
  align-items: center;
  justify-content: left;

  .img-logo {
    width: 12rem !important;
    float: left !important;
  }

  .material-icons {
    font-size: 25px !important;
  }

  #iconContainer {
    margin-left: auto;
  }

  .menu {
    margin-right: 0rem !important;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .menu-icon {
    vertical-align: middle;
  }
}
